.gallery {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px 0 3px;
  row-gap: 10px;

  @media ($tablet-breakpoint) {
    padding: 40px 0 3px;
    row-gap: 20px;
  }

  @media ($desktop-breakpoint) {
    max-width: $desktop;
    padding: 100px 0 3px;
    row-gap: 26px;
  }
}

.gallery__swiper {
  padding: 0;
  margin-top: 21px;
  overflow: hidden;
  align-self: center;

  width: $mobile;

  @media ($tablet-breakpoint) {
    margin-top: 1px;
    width: $tablet;
  }

  @media ($desktop-breakpoint) {
    width: unset;
    margin-top: 20px;
  }
}

.gallery__list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  display: flex;

  @media ($desktop-breakpoint) {
    gap: 5px;
  }
}

.gallery br {
  display: inline;

  @media ($desktop-breakpoint) {
    display: none;
  }
}

.gallery p {
  padding: 0 15px;
  margin: 0;

  font-size: 12px;
  line-height: 150%;

  @media ($tablet-breakpoint) {
    box-sizing: border-box;
    padding: 0 0 0 45px;
    max-width: 427px;

    font-size: 14px;
    line-height: 157%;
  }

  @media ($desktop-breakpoint) {
    box-sizing: unset;

    font-size: 16px;
    line-height: 150%;
    max-width: 595px;
    padding: 0 120px;
  }
}

.gallery__title {
  padding: 0 15px;

  @media ($tablet-breakpoint) {
    padding: 10px 0 0 45px;
  }

  @media ($desktop-breakpoint) {
    padding: 0 120px;
  }
}

.gallery__swiper-button {
  display: none;
  top: 146px;
  left: calc(50% + 302px);

  @media ($tablet-breakpoint) {
    display: flex;
  }

  @media ($desktop-breakpoint) {
    display: none;
  }
}

.gallery__swiper-button.swiper-button-prev {
  transform: translateX(-100%) rotate(180deg);
  left: calc(50% + 298px);
}
