// /* здесь используйте глобальные селекторы img, body, html и так далее */

body {
  margin: 0;
  padding: 0;

  min-width: $mobile;

  font-family: $font-primary;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;

  color: $base-primary;

  // background-color: $base-white;
}

// img {
//   display: block;
//   object-fit: contain;
// }

// html {
//   scroll-behavior: smooth;
// }

// a,
// li,
// button {
//   -webkit-tap-highlight-color: transparent;
// }
