.advantages {
  position: relative;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 22px;
  padding: 18px 15px 20px;
  max-width: 1440px;

  @media ($tablet-breakpoint) {
    flex-wrap: wrap;
    row-gap: 51px;
    padding: 40px 45px 38px;

    background-image: url("/img/background/cloud-tablet@1x.webp"), url("/img/background/cloud-tablet@1x.webp");
    background-position: top 266px left -446px, bottom 237px right -234px;
    background-repeat: no-repeat;
    background-size: 1200px 400px, 788px 263px;

    @media (resolution >= 2dppx) {
      background-image: url("/img/background/cloud-tablet@2x.webp"), url("/img/background/cloud-tablet@2x.webp");
    }
  }

  @media ($desktop-breakpoint) {
    padding: 100px 0 185px;

    // padding: 100px 120px 185px;

    row-gap: 50px;
    justify-content: start;

    // overflow: hidden;
    background: none;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 15px;

  @media ($tablet-breakpoint) {
    flex-direction: row;
    justify-content: center;

    // gap: 33px;
    gap: 30px;
  }

  @media ($desktop-breakpoint) {
    flex-wrap: nowrap;
    justify-content: unset;

    gap: 0;

    // max-width: 1440px;
  }
}

.advantages__list-item {
  @media ($desktop-breakpoint) {
    max-width: 380px;
    width: 380px;
  }
}

.advantages__title {
  align-self: center;

  justify-content: center;

  @media ($desktop-breakpoint) {
    min-height: 70px;
  }

  &::before {
    top: 5px;
  }
}

.advantages__swiper {
  @media ($desktop-breakpoint) {
    box-sizing: border-box;
    width: 1200px;

    // max-width: 1440px;
  }
}

.advantages__swiper-button {
  display: none;
  bottom: 101px;
  left: calc(50% + 2px);

  @media ($desktop-breakpoint) {
    display: flex;
  }
}

.advantages__swiper-button.swiper-button-prev {
  transform: translateX(-100%) rotate(180deg);
  left: calc(50% - 2px);
}
