.form {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  min-width: 258px;

  width: 100%;

  @media ($tablet-breakpoint) {
    row-gap: 11px;
  }

  @media ($desktop-breakpoint) {
    column-gap: 30px;
    flex-direction: row;
    justify-self: center;
  }
}

.form__wrapper {
  position: relative;
}

.form__input {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px 17px;
  min-height: 50px;

  font-size: 16px;
  line-height: 100%;

  border-radius: 2px;
  border: none;
  outline: 1px solid rgba(2, 102, 193, 0.1);

  @media ($tablet-breakpoint) {
    min-height: 56px;
  }

  @media ($desktop-breakpoint) {
    min-width: 360px;
  }

  &:hover {
    outline: 1px solid $base-secondary;
  }

  &:focus {
    outline: 1px solid $base-primary;
  }

  &:invalid {
    outline: 1px solid #ff121f;
  }

  &:placeholder-shown {
    outline: 1px solid rgba(2, 102, 193, 0.1);
  }

  &:disabled {
    outline: 1px solid #999999;
    opacity: 0.5;
  }
}

.form__input:focus + .form__label {
  display: none;
}

.form__input:focus::placeholder {
  color: $base-primary;
  opacity: 0.5;
}

.form__input::placeholder {
  font-size: 16px;
  line-height: 16px;
  color: transparent;
  user-select: none;
}

.form__label {
  position: absolute;
  top: 50%;
  left: 17px;
  font-size: 16px;
  line-height: 100%;
  color: $base-primary;

  opacity: 0.5;
  transform: translateY(-50%);
  cursor: text;

  @media ($tablet-breakpoint) {
    top: 50%;
    left: 30px;
  }
}


.form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 19px 21px;
  min-height: 58px;

  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;

  border: none;
  color: $base-white;

  cursor: pointer;

  background-color: $base-secondary;

  @media ($tablet-breakpoint) {
    min-height: 56px;
  }

  @media ($desktop-breakpoint) {
    width: 180px;
  }

  &:hover {
    background-color: $base-white;
    outline: 1px solid $primary-lighter;
    color: $primary-lighter;
  }

  &:focus-visible {
    background-color: $base-white;
    outline: none;
    color: $primary-lighter;
  }

  &:active {
    color: inherit;
    background-color: $primary-lighter;
  }

  &:disabled {
    background-color: #999999;
    pointer-events: none;
  }
}
