.reviews {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 18px 15px;
  row-gap: 17px;

  @media ($tablet-breakpoint) {
    padding: 41px 45px;
    row-gap: 25px;
  }

  @media ($desktop-breakpoint) {
    padding: 98px 120px;
    row-gap: 28px;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;

  @media ($desktop-breakpoint) {
    padding: 10px;
  }
}


.reviews__title {
  @media ($desktop-breakpoint) {
    padding-top: 52px;
  }

  &::before {
    top: unset;
    bottom: 19px;
  }
}
