.tours {
  position: relative;
  box-sizing: border-box;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;

  width: 100%;
  max-width: $desktop;

  @media ($tablet-breakpoint) {
    padding: 40px 45px;
  }

  @media ($desktop-breakpoint) {
    padding: 103px 120px 102px;
    row-gap: 50px;
    max-width: $desktop;
  }
}

.tours__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.tours__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  column-gap: 12px;


  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.04em;
  text-decoration: none;

  text-transform: uppercase;
  color: inherit;

  @media ($tablet-breakpoint) {
    font-size: 16px;
  }

  @media ($desktop-breakpoint) {
    align-self: center;
    padding-top: 14px;
    font-size: 16px;
  }

  &:hover {
    opacity: 0.2;
    color: $base-secondary;
  }

  &:focus-visible {
    outline: none;
    color: $base-secondary;
  }

  &:active {
    color: $base-primary;
  }

  &--disabled {
    color: #999999;
    pointer-events: none;
  }
}

.tours__swiper {
  align-self: center;
  overflow: hidden;
  width: 290px;
  height: 416px;

  @media ($tablet-breakpoint) {
    width: 678px;
  }

  @media ($desktop-breakpoint) {
    width: 100%;
  }
}

.tours__swiper-button {
  top: 60px;
  right: 45px;

  @media ($desktop-breakpoint) {
    top: 120px;
    right: 120px;
  }
}

.tours__swiper-button.swiper-button-prev {
  right: 86px;

  @media ($desktop-breakpoint) {
    right: 161px;
  }
}

