.tours-card {
  box-sizing: border-box;
  min-height: 416px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px 20px;

  row-gap: 15px;

  background-repeat: no-repeat;
  background-size: 100%;

  color: $base-white;

  @media ($tablet-breakpoint) {
    width: 330px;
  }

  // @media ($tablet-breakpoint) {
  //   max-width: 380px;
  // }
}

.tours-card__destination-wrapper {
  order: -1;

  display: flex;
  align-items: center;

  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 5px;

  row-gap: 12px;

  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
}

.tours-card__destination-location {
  box-sizing: border-box;

  display: flex;
  align-items: center;

  justify-content: end;
  column-gap: 9px;
  padding: 8px 12px 8px 16px;

  // min-width: 90px;
  min-height: 28px;
  text-align: right;

  background-color: $base-secondary;

  &::before {
    content: "";
    display: block;
    width: 9px;
    height: 12px;

    background-color: transparent;
    background-size: 100%;
    background-image: url("/__spritemap#sprite-pin-view");
  }

  @media ($tablet-breakpoint) {
    margin-right: auto;
  }
}

.tours-card__destination-duration {
  display: flex;
  align-items: center;

  column-gap: 12px;

  background-color: transparent;
  background-size: 100%;

  // min-width: 74px;

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
  }

  &--sun::before {
    background-image: url("/__spritemap#sprite-sun-view");
  }

  &--moon::before {
    background-image: url("/__spritemap#sprite-moon-view");
  }
}

.tours-card__title {
  order: 0;
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 117%;

  @media ($tablet-breakpoint) {
    // BR?
  }
}

.tours-card::after {
  content: "";
  display: block;
  width: 80px;
  height: 1px;

  background-color: $base-white;

  opacity: 0.2;
  order: 1;
}

.tours-card__details {
  margin: 0;
  padding: 0;
  order: 2;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: repeat(2, 1fr);

  min-height: 32px;

  column-gap: 8px;

  @media ($tablet-breakpoint) {
    justify-content: space-between;
  }
}

.tours-card__details-title {
  grid-row: 1/2;

  font-weight: 300;
  font-size: 12px;
  line-height: 100%;
}

.tours-card__details-description {
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 1px;


  align-self: end;

  font-weight: 700;
  font-size: 13px;
  line-height: 100%;
}

.tours-card--elbrus {
  background-size: 100%;
  background-image: url("/img/tours/elbrus/tours-elbrus-mobile@1x.webp");

  @media ($tablet-breakpoint) {
    background-image: url("/img/tours/elbrus/tours-elbrus-tablet@1x.webp");
  }

  @media ($desktop-breakpoint) {
    background-image: url("/img/tours/elbrus/tours-elbrus-desktop@1x.webp");
  }

  @media (resolution >= 2dppx) {
    background-image: url("/img/tours/elbrus/tours-elbrus-mobile@2x.webp");

    @media ($tablet-breakpoint) {
      background-image: url("/img/tours/elbrus/tours-elbrus-tablet@2x.webp");
    }

    @media ($desktop-breakpoint) {
      background-image: url("/img/tours/elbrus/tours-elbrus-desktop@2x.webp");
    }
  }
}

.tours-card--belukha {
  background-image: url("/img/tours/belukha/tours-belukha-mobile@1x.webp");

  @media ($tablet-breakpoint) {
    background-image: url("/img/tours/belukha/tours-belukha-tablet@1x.webp");
  }

  @media ($desktop-breakpoint) {
    background-image: url("/img/tours/belukha/tours-belukha-desktop@1x.webp");
  }

  @media (resolution >= 2dppx) {
    background-image: url("/img/tours/belukha/tours-belukha-mobile@2x.webp");

    @media ($tablet-breakpoint) {
      background-image: url("/img/tours/belukha/tours-belukha-tablet@2x.webp");
    }

    @media ($desktop-breakpoint) {
      background-image: url("/img/tours/belukha/tours-belukha-desktop@2x.webp");
    }
  }
}

.tours-card--fishn {
  background-image: url("/img/tours/fishn/tours-fishn-mobile@1x.webp");

  @media ($tablet-breakpoint) {
    background-image: url("/img/tours/fishn/tours-fishn-tablet@1x.webp");
  }

  @media ($desktop-breakpoint) {
    background-image: url("/img/tours/fishn/tours-fishn-desktop@1x.webp");
  }

  @media (resolution >= 2dppx) {
    background-image: url("/img/tours/fishn/tours-fishn-mobile@2x.webp");

    @media ($tablet-breakpoint) {
      background-image: url("/img/tours/fishn/tours-fishn-tablet@2x.webp");
    }

    @media ($desktop-breakpoint) {
      background-image: url("/img/tours/fishn/tours-fishn-desktop@2x.webp");
    }
  }
}

.tours-card--manaraga {
  background-image: url("/img/tours/manaraga/tours-manaraga-mobile@1x.webp");

  @media ($tablet-breakpoint) {
    background-image: url("/img/tours/manaraga/tours-manaraga-tablet@1x.webp");
  }

  @media ($desktop-breakpoint) {
    background-image: url("/img/tours/manaraga/tours-manaraga-desktop@1x.webp");
  }

  @media (resolution >= 2dppx) {
    background-image: url("/img/tours/manaraga/tours-manaraga-mobile@2x.webp");

    @media ($tablet-breakpoint) {
      background-image: url("/img/tours/manaraga/tours-manaraga-tablet@2x.webp");
    }

    @media ($desktop-breakpoint) {
      background-image: url("/img/tours/manaraga/tours-manaraga-desktop@2x.webp");
    }
  }
}

.tours-card__duration-wrapper {
  display: flex;
  gap: 14px;
}
