.header {
  box-sizing: border-box;
  display: grid;

  grid-template-columns: repeat(2, auto);
  grid-template-rows: min-content minmax(30px, min-content) 0fr;
  width: 100%;

  padding: 15px 15px 13px;

  background-color: $base-secondary;

  @media ($tablet-breakpoint) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content  0fr;

    padding: 20px 45px;
  }

  @media ($desktop-breakpoint) {
    padding: 42px 120px 42px 152px;
    display: flex;

    justify-content: center;
    align-items: center;
    column-gap: 136px;
  }
}

.header__navigation {
  grid-row: 3/4;
  overflow: hidden;

  @media ($tablet-breakpoint) {
    grid-row: 2/3;
  }
}

.header__logo-link {
  grid-row: 1/2;
  grid-column: 2/3;

  justify-self: end;

  @media ($tablet-breakpoint) {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
  }

  @media ($desktop-breakpoint) {
    margin-right: 28px;
  }
}

.header__link {
  grid-row: 2/3;
  grid-column: 2/3;


  align-self: end;

  font-weight: 600;
  font-size: 14px;
  line-height: 100%;

  text-align: right;
  text-decoration: none;

  color: $base-white;

  @media ($tablet-breakpoint) {
    grid-column: 3/4;
    grid-row: 1/2;

    margin-top: 4px;
    font-size: 16px;
    align-self: center;
  }

  @media ($desktop-breakpoint) {
    margin-top: 4px;
    font-size: 18px;
  }
}

.header__button {
  grid-row: 1/2;
  grid-column: 1/2;
  border: none;
  display: block;

  width: 26px;
  height: 26px;
  background-color: transparent;
  background-image: url("/__spritemap#sprite-burger-view");
  background-size: 100%;
  cursor: pointer;

  @media ($tablet-breakpoint) {
    align-self: center;
  }

  @media ($desktop-breakpoint) {
    display: none;
  }
}
