.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-width: $mobile;
}

.page__body {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  margin-top: 100px;

  @media ($tablet-breakpoint) {
    margin-top: 82px;
  }

  @media ($desktop-breakpoint) {
    margin: 0;
  }
}

// На место потом
.body__main {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;


  background-size: 346px;
  background-position: left calc(50% + 192px) top 578px;
  background-repeat: no-repeat;

  background-image: url("../img/background/background-mountain-mobile@1x.webp");

  @media ($tablet-breakpoint) {
    background-size: 602px;
    background-position: right -177px top 1039px;
    background-image: url("../img/background/background-mountain-tablet@1x.webp");
  }

  @media ($desktop-breakpoint) {
    background-position: right 0 top 674px;
    background-image: url("../img/background/background-mountain-desktop@1x.webp");
  }

  @media (resolution >= 2dppx) {
    background-image: url("../img/background/background-mountain-mobile@2x.webp");

    @media ($tablet-breakpoint) {
      background-image: url("../img/background/background-mountain-tablet@2x.webp");
    }

    @media ($desktop-breakpoint) {
      background-image: url("../img/background/background-mountain-desktop@2x.webp");
    }
  }
}

.page__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
