.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-width: $mobile;
}

.page__body {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  margin-top: 100px;

  @media ($tablet-breakpoint) {
    margin-top: 82px;
  }

  @media ($desktop-breakpoint) {
    margin: 0;
  }
}

// На место потом
.body__main {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

.page__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
