.footer-navigation {
  box-sizing: border-box;
  display: grid;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, min-content);

  column-gap: 50px;
  row-gap: 15px;

  font-size: 14px;
  line-height: 100%;

  @media ($tablet-breakpoint) {
    display: flex;
    flex-wrap: wrap;
    width: unset;
    column-gap: 10px;

    // column-gap: 20px;
  }

  @media ($desktop-breakpoint) {
    column-gap: 20px;
  }
}


.footer-navigation__list-item {
  text-align: center;

  &:nth-child(2) {
    grid-column: 1/2;
  }

  &:nth-child(3) {
    grid-column: 1/2;
  }

  &:nth-child(4) {
    grid-column: 2/2;
    grid-row: 1/2;
  }

  &:nth-child(5) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  &:nth-child(6) {
    grid-column: 2/3;
  }
}

.footer-navigation__link {
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  padding: 3px 5px;

  @media ($desktop-breakpoint) {
    font-size: 16px;
  }

  &:hover {
    padding-bottom: 2px;
    border-bottom: 1px solid $base-primary;
  }

  &:focus-visible {
    outline-offset: -1px;
    outline: 1px solid $base-primary;
  }

  &:active {
    color: $base-secondary;
    border: none;
  }

  &--disabled {
    pointer-events: none;
    color: #999999;
  }
}
