.social {
  display: flex;
  gap: 16px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  outline: 1px solid rgba(45, 56, 63, 0.3);

  background-position: center;
  background-repeat: no-repeat;

  color: inherit;

  &--reddit {
    background-size: 14px 15px;
    background-image: url("/__spritemap#sprite-reddit-view");
  }

  &:hover {
    outline: 1px solid $base-primary;
  }

  &:focus-visible {
    outline: none;
    border: none;
  }

  &:active {
    border: none;
    outline: none;
    background-color: $base-secondary;
    color: $base-white;
  }

  &--disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}
