.social {
  display: flex;
  gap: 16px;
}

.social__link {
  display: block;
  width: 30px;
  height: 30px;

  outline: 1px solid rgba(45, 56, 63, 0.3);

  background-position: center;
  background-repeat: no-repeat;


  &--vk {
    background-size: 16px 9px;
    background-image: url("/__spritemap#sprite-vk-view");
  }


  &--ok {
    background-size: 9px 16px;
    background-image: url("/__spritemap#sprite-ok-view");
  }

  &--reddit {
    background-size: 14px 15px;
    background-image: url("/__spritemap#sprite-reddit-view");
  }

  &:hover {
    border: 1px solid $base-primary;
  }

  &:focus-visible {
    outline: none;
    border: none;
  }

  &:active {
    border: none;
    background-color: $base-secondary;
    color: $base-white;
  }

  &--disabled {
    opacity: 0.3;
  }
}
