.hero {
  width: 100%;
  color: $base-white;
}

.hero__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.hero__swiper {
  position: relative;
  overflow: hidden;
}

.hero__pagination {
  position: absolute;
  bottom: 40px;
  left: 50%;
  display: flex;
  width: min-content;
  column-gap: 20px;
  z-index: 1;
  transform: translateX(-50%);

  @media ($desktop-breakpoint) {
    left: unset;
    bottom: 92px;
    right: 70px;
  }
}

.hero__pagination button {
  box-sizing: border-box;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid $base-white;
  cursor: pointer;

  @media ($tablet-breakpoint) {
    width: 20px;
    height: 20px;
  }

  &:hover {
    background-color: #d9d9d9;
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid $base-white;
  }

  &:focus-visible {
    // background-color: inherit;

    // border: 1px solid $base-white;

    outline-offset: 1px;
    outline: 1px solid rgba(255, 255, 255, 0.5);
  }
}

.hero__pagination .swiper-pagination-bullet-active {
  background-color: $base-white;
  pointer-events: none;

  // &:focus-visible {
  //   background-color: $base-white;
  //   border: 1px solid $base-white;

  //   outline-offset: 1px;
  //   outline: 1px solid rgba(255, 255, 255, 0.5);
  // }
}
