.hero-card:not(:first-child) {
  display: none;
}

.hero-card:first-child {
  box-sizing: border-box;
  padding: 40px 15px 56px;
  width: 100%;
  display: flex;
  flex-direction: column;

  justify-content: center;
  row-gap: 15px;
  align-items: center;

  background-image: url("/img/hero/hero-card1-mobile@1x.webp");

  // background-image: url("../../../img/hero/hero-card1-mobile@1x.webp");
  min-height: 568px;
  background-repeat: no-repeat;
  background-size: 100%;

  @media ($tablet-breakpoint) {
    justify-content: unset;

    padding: 342px 45px 56px;
    background-image: url("/img/hero/hero-card1-tablet@1x.webp");

    // background-color: red;
    min-height: 1034px;
  }

  @media ($desktop-breakpoint) {
    padding: 200px 120px 80px;
    align-items: start;
    row-gap: 25px;
    min-height: 800px;

    background-image: url("/img/hero/hero-card1-desktop@1x.webp");
  }

  @media (resolution >= 2dppx) {
    background-image: url("/img/hero/hero-card1-mobile@2x.webp");

    @media ($tablet-breakpoint) {
      background-image: url("/img/hero/hero-card1-tablet@2x.webp");
    }

    @media ($desktop-breakpoint) {
      background-image: url("/img/hero/hero-card1-desktop@2x.webp");
    }
  }
}

.hero-card h2 {
  margin: 0;
  padding: 0;

  font-weight: 800;
  font-size: 26px;
  line-height: 100%;

  text-align: center;

  @media ($tablet-breakpoint) {
    font-size: 56px;
  }

  @media ($desktop-breakpoint) {
    font-size: 77px;
    width: 780px;

    text-align: start;
  }
}

.hero-card p {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 15px;
  line-height: 133%;

  text-align: center;


  @media ($tablet-breakpoint) {
    font-size: 17px;
    line-height: 141%;
    max-width: 500px;
  }

  @media ($desktop-breakpoint) {
    width: 420px;
    text-align: start;
  }
}

.hero-card__link {
  box-sizing: border-box;
  display: flex;

  align-items: center;
  justify-content: center;
  min-width: 180px;
  margin-top: 45px;

  padding: 20px;
  text-decoration: none;
  color: inherit;
  background-color: $base-secondary;

  font-weight: 500;
  font-size: 16px;
  line-height: 100%;

  @media ($tablet-breakpoint) {
    margin-top: 20px;
  }

  @media ($desktop-breakpoint) {
    margin-top: 10px;
  }
}
