.hero-card {
  box-sizing: border-box;
  padding: 40px 15px 56px;
  width: 100%;
  display: flex;
  flex-direction: column;

  justify-content: center;
  row-gap: 15px;
  align-items: center;

  min-height: 568px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0;
  background-position-y: center;

  @media ($tablet-breakpoint) {
    justify-content: unset;

    padding: 342px 45px 56px;

    min-height: 1034px;
  }

  @media ($desktop-breakpoint) {
    padding: 200px 120px 80px;
    align-items: start;
    row-gap: 25px;
    min-height: 800px;
  }
}

.hero-card--kavkaz {
  background-image: url("/img/hero/slide-1/hero-mobile-card-1@1x.webp");
  background-position-y: bottom;

  @media ($tablet-breakpoint) {
    background-image: url("/img/hero/slide-1/hero-tablet-card-1@1x.webp");
  }

  @media ($desktop-breakpoint) {
    background-image: url("/img/hero/slide-1/hero-desktop-card-1@1x.webp");
  }

  @media (resolution >= 2dppx) {
    background-image: url("/img/hero/slide-1/hero-mobile-card-1@2x.webp");

    @media ($tablet-breakpoint) {
      background-image: url("/img/hero/slide-1/hero-tablet-card-1@2x.webp");
    }

    @media ($desktop-breakpoint) {
      background-image: url("/img/hero/slide-1/hero-desktop-card-1@2x.webp");
    }
  }
}

.hero-card--kamchatka {
  background-image: url("/img/hero/slide-2/hero-mobile-card-2@1x.webp");


  @media ($tablet-breakpoint) {
    position: relative;
    justify-content: start;
    padding: 37px 45px 56px;


    background-image: url("/img/hero/slide-2/hero-tablet-card-2@1x.webp");
  }

  @media ($desktop-breakpoint) {
    background-image: url("/img/hero/slide-2/hero-destkop-card-2@1x.webp");
  }

  @media (resolution >= 2dppx) {
    background-image: url("/img/hero/slide-2/hero-mobile-card-2@2x.webp");

    @media ($tablet-breakpoint) {
      background-image: url("/img/hero/slide-2/hero-tablet-card-2@2x.webp");
    }

    @media ($desktop-breakpoint) {
      background-image: url("/img/hero/slide-2/hero-destkop-card-2@2x.webp");
    }
  }
}

.hero-card--kamchatka picture {
  display: none;

  @media ($tablet-breakpoint) {
    position: absolute;
    display: block;
    z-index: 0;

    &:first-of-type {
      bottom: 211px;
      right: calc(50% - 45px);
    }

    &:last-of-type {
      bottom: 197px;
      left: calc(50% - 15px);
    }
  }

  @media ($desktop-breakpoint) {
    &:first-of-type {
      bottom: 206px;
      left: unset;
      right: 222px;
    }

    &:last-of-type {
      left: unset;
      bottom: 154px;
      right: 120px;
    }
  }
}

.hero-card--altai {
  background-image: url("/img/hero/slide-3/hero-mobile-card-3@1x.webp");

  @media ($tablet-breakpoint) {
    background-image: url("/img/hero/slide-3/hero-tablet-card-3@1x.webp");
  }

  @media ($desktop-breakpoint) {
    background-image: url("/img/hero/slide-3/hero-desktop-card-3@1x.webp");
  }

  @media (resolution >= 2dppx) {
    background-image: url("/img/hero/slide-3/hero-mobile-card-3@2x.webp");

    @media ($tablet-breakpoint) {
      background-image: url("/img/hero/slide-3/hero-tablet-card-3@2x.webp");
    }

    @media ($desktop-breakpoint) {
      background-image: url("/img/hero/slide-3/hero-desktop-card-3@2x.webp");
    }
  }
}


.hero-card h2 {
  margin: 0;
  padding: 0;

  font-weight: 800;
  font-size: 26px;
  line-height: 100%;

  text-align: center;

  @media ($tablet-breakpoint) {
    font-size: 56px;
  }

  @media ($desktop-breakpoint) {
    font-size: 77px;
    width: 944px;
    z-index: 2;
    text-align: start;
  }
}

.hero-card p {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 15px;
  line-height: 133%;

  text-align: center;


  @media ($tablet-breakpoint) {
    font-size: 17px;
    line-height: 141%;
    max-width: 500px;
  }

  @media ($desktop-breakpoint) {
    width: 464px;
    text-align: start;
  }
}

.hero-card__link {
  box-sizing: border-box;
  display: flex;

  align-items: center;
  justify-content: center;
  min-width: 180px;
  margin-top: 45px;

  padding: 20px;
  text-decoration: none;

  color: inherit;
  background-color: $base-secondary;

  font-weight: 500;
  font-size: 16px;
  line-height: 100%;

  @media ($tablet-breakpoint) {
    margin-top: 20px;
  }

  @media ($desktop-breakpoint) {
    margin-top: 10px;
  }

  &:hover {
    background-color: $base-white;
    outline: 1px solid $primary-lighter;
    color: $primary-lighter;
  }

  &:focus-visible {
    background-color: $base-white;
    outline: none;
    color: $primary-lighter;
  }

  &:active {
    background-color: $primary-lighter;

    color: inherit;
  }

  &--disabled {
    background-color: #999999;
    pointer-events: none;
  }
}

.hero-card__details-wrapper {
  display: none;

  color: inherit;

  @media ($desktop-breakpoint) {
    display: flex;
    justify-self: flex-end;
    gap: 10px;
    margin-top: auto;
  }
}

.hero-card__details-wrapper span {
  box-sizing: border-box;
  display: flex;
  align-items: center;

  padding: 14px 20px 14px 40px;
  outline: 1px solid rgba(255, 255, 255, 0.5);

  font-weight: 400;
  font-size: 12px;
  line-height: 133%;

  background-repeat: no-repeat;
  background-position: center left 20.5px;
}


.hero-card__details-duration {
  background-size: 11px 11px;
  background-image: url("/__spritemap#sprite-moon-view");
}

.hero-card__details-complexity {
  background-size: 10px 11px;
  background-image: url("/__spritemap#sprite-level-view");
}
