.training-card {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 15px;

  width: 290px;
  outline: 1px solid rgba(2, 102, 193, 0.1);

  @media ($tablet-breakpoint) {
    width: 212.67px;
    padding: 15px 15px 47px;
  }

  @media ($desktop-breakpoint) {
    width: 285px;
    padding: 15px 15px 31px;
  }
}

.training-card {
  &:not(:nth-child(3)) {
    display: none;

    @media ($tablet-breakpoint) {
      display: flex;
    }
  }

  @media ($tablet-breakpoint) {
    &:not(:nth-child(1)) {
      display: none;
    }
  }
}


.training-card__figure {
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 15px;
}

.training-card__image {
  color: $base-white;
  background-color: #b4b2b3;
}

.training-card__figure h4 {
  margin: 0;
  padding: 0;


  align-self: start;
  font-weight: 700;
  font-size: 14px;
  line-height: 114%;
}

.training-card__figure figcaption {
  position: relative;
  bottom: -0.2em;

  width: min-content;

  font-weight: 700;
  font-size: 14px;
  line-height: 114%;
}

.training-card__link {
  position: absolute;
  right: 15px;
  top: 230px;

  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;

  color: inherit;

  border: 1px solid rgba(45, 56, 63, 0.3);

  &:hover {
    border: 1px solid $base-primary;
  }

  &:focus-visible {
    outline: none;
    border: none;
  }

  &:active {
    border: none;
    background-color: $base-secondary;
    color: $base-white;
  }

  &--disabled {
    opacity: 0.3;
  }
}

.training-card p {
  margin: 0;
  padding: 0;
  width: 240px;
  font-size: 12px;
  line-height: 133%;

  @media ($tablet-breakpoint) {
    width: unset;
  }
}

.training-card br {
  display: none;

  @media ($tablet-breakpoint) {
    display: inline-block;
  }

  @media ($desktop-breakpoint) {
    display: none;
  }
}
